extends layout

block content
  h1 Title: #{book.title}
  
  p #[strong Author:] 
    a(href=book.author.url) #{book.author.name}
  p #[strong Summary:] #{book.summary}
  p #[strong ISBN:] #{book.isbn}
  p #[strong Genre:]&nbsp;
    each val, index in book.genre
      a(href=val.url) #{val.name}
      if index < book.genre.length - 1
        |, 
  
  div(style='margin-left:20px;margin-top:20px')

    hr
    p
        a(href=book.url+'/delete') Delete Book
    p
        a(href=book.url+'/update') Update Book